  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{this.dataValues.id}}. {{this.dataValues.name}}</h5>
      <p class="card-text">{{this.dataValues.description}}</p>
      <p class="card-text"><a href="api/join/{{this.dataValues.id}}"></a><button class="change-join" data-id="{{this.dataValues.id}}">
                                    Join Event
		</button></p>
    </div>
  </div>